.formGroup {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;

	label {
		margin-bottom: 5px;
		font-weight: bold;

		.checkbox {
			margin-right: 10px;
		}

		a {
			text-decoration: underline;
			color: #7f7fff;
			transition: color 0.5s ease-in-out;

			&:hover,
			&:focus {
				color: #5555ff;
			}
		}
	}

	input {
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px;

		&:focus {
			outline: none;
			border-color: #7f7fff;
			animation: scale 0.9s ease-in-out forwards;
		}
	}

	.error {
		color: red;
		margin-top: 4px;
	}
}

@media (max-width: 600px) {
	.form-group {
		margin-bottom: 10px;

		label {
			font-size: 14px;
		}

		input {
			padding: 5px;
			font-size: 14px;
		}
	}
}

@keyframes scale {
	from {
		opacity: 0.5;
		transform: scale(0.992);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
