.socialNetworkIcons {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	i {
		font-size: 1.8rem;
		margin: 0 5px;
		transition: all 0.5s ease-in-out;

		&:hover {
			color: #ffa500;
		}
	}

	a {
		margin-right: 20px;
	}
}
