.carouselContainer {
	width: 100%;
	height: 600px;
	margin: 0 auto;
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
}

@media (max-width: 768px) {
	.advantages {
		padding: 10px;
	}
}
