.card {
	width: 100%;
	padding: 20px;
	margin: 10px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	.name {
		color: #585c64;
		margin: 20px 0 0 5px;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.experience {
		color: #666666;
		font-size: 1.2rem;
	}

	@media (min-width: 768px) {
		flex-basis: calc(50% - 40px);
	}

	&:hover {
		transform: scale(1.02);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}
}

.photoContainer {
	display: flex;
	align-items: center;
	width: 200px;
	height: 200px;
	margin: 0 auto;

	img {
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
}
