.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding: 5%;

	h1 {
		font-size: 10rem;
		margin-top: 0.3em;
		margin-bottom: 50px;
		font-family: "Lobster", cursive;
		color: #5555ff;

		span {
			color: #ffa500;
		}
	}

	p {
		font-size: 2.5rem;
		color: #888;
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 7rem;
		}

		p {
			font-size: 2rem;
		}
	}
}
