.form {
	display: flex;
	flex-direction: column;
	padding: 50px 250px;

	.error {
		color: red;
		margin-top: 4px;
	}

	.formHeader {
		text-align: center;

		h2 {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 10px;
			font-family: "Lobster", cursive;
		}

		p {
			margin-bottom: 20px;
		}

		.success {
			color: green;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}

	button {
		margin-top: 20px;
	}

	label {
		margin-bottom: 5px;
		font-weight: bold;

		.checkbox {
			margin-right: 10px;
		}

		a {
			text-decoration: underline;
			color: #7f7fff;
			transition: color 0.5s ease-in-out;

			&:hover,
			&:focus {
				color: #5555ff;
			}
		}
	}

	@media (max-width: 1000px) {
		padding: 30px 120px;
	}

	@media (max-width: 600px) {
		max-width: 100%;
		padding: 30px;

		button {
			padding: 8px;
			font-size: 14px;
		}
	}
}
