footer {
	margin-top: 70px;
	background-color: #333333;
	padding: 20px 0;
	color: white;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

	.address {
		padding-left: 150px;
	}

	.box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 150px 10px 150px;

		.phoneNumbers {
			margin-right: 20px;

			h3 {
				font-size: 1.2rem;
				margin-bottom: 10px;
			}

			ul {
				list-style: none;

				li {
					margin-bottom: 5px;
					transition: all 0.5s ease-in-out;

					&:hover {
						color: #ffa500;
					}
				}
			}
		}

		.linksMedia {
			h3 {
				font-size: 1.2rem;
				margin-bottom: 10px;
			}
		}
	}

	@media (max-width: 1000px) {
		border-radius: 0;
	}

	@media (max-width: 767px) {
		.address {
			padding: 0;
			text-align: center;
		}

		.box {
			flex-direction: column;
			align-items: center;
			padding: 30px;

			.phoneNumbers {
				margin-right: 0;
				margin-bottom: 20px;
			}

			.socialMedia {
				margin-bottom: 20px;

				a {
					margin: 10px !important;
				}
			}
		}
	}
}
