.slide {
	width: 100%;
	height: 80%;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	transition: background-image 0.5s ease-in-out;
}

.slider {
	position: relative;
	height: 100%;
	margin: 0 5%;

	h3 {
		height: 10%;
		font-size: 2rem;
		text-align: center;
		text-transform: capitalize;
		color: #ffa500;
	}

	.rightArrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: -6%;
		font-size: 3rem;
		color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	.leftArrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: -6%;
		font-size: 3rem;
		color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	i {
		display: inline-block;
		color: #000000;
		transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;

		&:hover,
		&:focus {
			color: #ffa500;
			transform: scale(1.2);
		}
	}

	@media (max-width: 700px) {
		margin: 0;

		h3 {
			font-size: 1.5rem;
		}

		.leftArrow {
			left: 32px;
			font-size: 2rem;
		}

		.rightArrow {
			right: 32px;
		}

		i {
			color: #ffffff;
			font-size: 2rem;
		}
	}
}

.dotsContainer {
	height: 10%;
	display: flex;
	justify-content: center;
}

.dot {
	margin: 0 3px;
	cursor: pointer;
	font-size: 2.5rem;

	i {
		color: black;
	}

	&.active {
		i {
			color: #ffa500;
		}
	}
}
