* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

.wrapper {
	background: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

.heading {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	font-family: "Lobster", cursive;
}

.blueButton {
	background-color: #7f7fff;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.5s ease-in-out;
	font-size: 1rem;
	border: none;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: #5555ff;
	}

	&:active {
		background-color: #3333ff;
	}
}

@media (max-width: 1000px) {
	.wrapper {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
		padding-top: 100px;
	}
}

@media (max-width: 768px) {
	.heading {
		font-size: 1.7rem;
	}
}

.fadeEnter {
	opacity: 0;
}

.fadeEnterActive {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.fadeExit {
	opacity: 1;
}

.fadeExitActive {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
