* {
    font-size: 14px !important;
}

i {
    font-size: 2rem !important;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.image {
    width: 300px;
    border-radius: 10px;
}

#site-name span {
    font-weight: bold;
    font-size: 1.5rem !important;
    font-family: "Inter", sans-serif;
}

#user-tools {
    font-weight: normal;
}